{% extends 'partials/_base.html'%} {% load static %} {% block content %}
<!-- header section ends -->
<div class="wrapper">
  {% for book in books %}
  <div>{{book.startDate}} - {{book.finishDate}}</div>
  {% endfor %}
  <div class="title">Randevu Formu</div>
  <form class="form" action="/index.html" method="post">
    <div class="inputfield">
      <label>Ad</label>
      <input type="text" class="input" required />
    </div>
    <div class="inputfield">
      <label>Soyad</label>
      <input type="text" class="input" required/>
    </div>
    <div class="inputfield">
      <label>Email</label>
      <input type="text" class="input"/>
    </div>
    <div class="inputfield">
      <label>Telefon Numarası</label>
      <input type="text" class="input" required/>
    </div>
    <div class="inputfield">
      <label>Hayvan</label>
      <div class="custom_select">
        <select>
          <option value="">Seç</option>
          <option value="cat">Kedi</option>
          <option value="dog">Köpek</option>
          <option value="bird">Kuş</option>
        </select>
      </div>
    </div>
    <div class="inputfield">
      <label>Tarih</label>
      <input type="date" />
    </div>
    <div class="inputfield">
      <label>Saat</label>
      <div class="custom_select">
        <select>
          <option value="">Seç</option>
          <option value="nine">09:00-10:00</option>
          <option value="nine">10:00-11:00</option>
          <option value="nine">11:00-12:00</option>
          <option value="nine">12:00-13:00</option>
          <option value="nine">13:00-14:00</option>
          <option value="nine">14:00-15:00</option>
          <option value="nine">15:00-16:00</option>
          <option value="nine">16:00-17:00</option>
          <option value="nine">17:00-18:00</option>
        </select>
      </div>
    </div>
    <div class="inputfield">
      <label>Hayvan Cinsiyeti</label>
      <div class="custom_select">
        <select required>
          <option value="">Seç</option>
          <option value="male">Dişi</option>
          <option value="female">Erkek</option>
        </select>
      </div>
    </div>
    <div class="inputfield">
      <input type="submit" value="Gönder" class="btn1" />
    </div>
  </form>
</div>

{% endblock %}
