{% extends 'partials/_base.html'%} {% load static %} {% block content %}
<!-- header section ends -->
<style>
  body {
    min-height: auto;
  }
</style>

<section class="contact" id="contact">
  <div class="image">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.3839858447186!2d29.062234115373812!3d40.99496797930217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7ee414a3ff5%3A0x2e566ef395311487!2sIstanbul%20Medeniyet%20University!5e0!3m2!1sen!2str!4v1666880456432!5m2!1sen!2str"
      width="600"
      height="400"
      style="border: 0; margin-left: 60px; margin-top: 120px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      href="tel:05510323354"
      class="tel"
      style="font-size: 30px; margin-top: 20px; text-align: center; text-decoration: none;"
    >
      05510323354</a
    >
    <p
      style="
        font-size: 15px;
        margin-top: 10px;
        margin-left: 100px;
        text-align: center;
        width: 500px;
      "
    >
      Acil durumlarda 7/24 bizimle İletişime geçebilirsiniz, haritaya
      tıklayınız, çalışma saatlerimize, adrese ve yol tarifine ulaşacaksınız.
    </p>
  </div>

  <form action="/contact/" method="post">
    {% csrf_token %}
    <h3>Bizimle İletişime Geçin</h3>
    <input
      type="text"
      name="user_name"
      placeholder="Ad Syoad"
      class="box"
      required
      maxlength="30"
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="box"
      required
    />
    <input
      type="number"
      name="phone_num"
      placeholder="Telefon"
      class="box"
      required

    />
    <textarea
      name="message"
      placeholder="Mesaj"
      id=""
      cols="30"
      rows="10"
    ></textarea>
    <input type="submit" value="Gönder" class="btnn" />
  </div>
  </form>
</section>

{% endblock %}
