<title>Edit Appointment</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}

<style>
    body {
      min-height: auto;
    }
  </style>



<!--if 24hrs before nobat-->
{% if delta24 == True %}
<br><br>
<h1 class="text-center  mt-3">Randevuyu Düzenle</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'userUpdate' id %}" class="me-2 ms-2" required>
        {% csrf_token %}
        <!-- bunlar simdi benim eklediklerim -->
                <!-- input name-surname -->
        <div class="row mt-3">
          <div class="col">
            <h3>Ad:</h3>
            <input type="text" class="form-control form-control form-control-lg" placeholder="Ad" required maxlength="20"  name="name">
          </div>
          <div class="col">
            <h3>Soyad:</h3>
            <input type="text" class="form-control form-control form-control-lg" placeholder="Soyad" required maxlength="20"  name="surname">
          </div>
        </div>
        <!-- input phone number -->
        <div class="row mt-3">
          <div class="col">
            <h3>Telefon:</h3>
            <input type="tel" class="form-control form-control form-control-lg" placeholder="Telefon Numarası" name="phone">
          </div>
          <!-- input email -->
          <div class="col">
            <h3>Email:</h3>
            <input style="text-transform: none;" type="email" class="form-control form-control form-control-lg" placeholder="Email" name="email">
          </div>
        </div>
        <!-- input animal -->
        <div class="mt-3">
          <h3 class="">Hayvan:</h3>
          <select class="form-select fs-3" name="animal">
            <option value="Kedi">Kedi</option>
            <option value="Köpek">Köpek</option>
            <option value="Kuş">Kuş</option>
            <option value="Diğer">Diğer</option>
          </select>
        </div>
        <!-- input gender -->
        <div class="mt-3">
          <h3 class="">Hayvan Cinsiyeti:</h3>
          <select class="form-select fs-3" name="gender">
              <option value="Erkek">Erkek</option>
              <option value="Dişi">Dişi</option>
          </select>
        </div>


        <!--input service-->
        <div class="mt-3">
            <h3 class="mt-3">Hizmet Türü Seçiniz:</h3>
            <select class="form-select fs-3" name="service">
              <option value="Aşlar ve Takibi">Aşlar ve Takibi</option>
              <option value="Doğum ve Jinekoloji Hizmetleri">Doğum ve Jinekoloji Hizmetleri</option>
              <option value="Cerrahi Operasyonlar">Cerrahi Operasyonlar</option>
              <option value="Parazit Tedavisi">Parazit Tedavisi</option>
              <option value="Röntgen/Ultrason">Röntgen/Ultrason</option>
              <option value="Diş ve Dişeti Tedavisi">Diş ve Dişeti Tedavisi</option>
            </select>
        </div>
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Gün Seçiniz:</h3>
                <select class="form-select fs-3" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Devam Et</button>
        </div>
    </form>
</div>
<!--else if its 24hrs before editing-->
{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5 text-center fPersian">
    <br><br><br><br></br>
    <h1 class="text-danger">Randevu düzenleme işlemi son 24 saatte yapılamaz</h1>
    <a href="{% url 'index' %}" class="btn btn-primary m-5 p-3" style="font-size: 13px;">Anasayfaya Dön</a>
</div>

{% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>   


{% endblock %}